.container {
    margin-top: 0;
    padding: 25px;
    
}

.sort {
    background-color: rgba(255, 255, 255, 0.089);
    margin-bottom: 15px;
}

.sort-content {
    display: flex;
}

.sort-button {
    display:none;
}

.sort-element {
    flex: 1;
    padding: 1rem;
    text-align: center;
    border-right: 1px solid gray;
    cursor: pointer;
}

.sort-content :nth-child(4) {
    border-right: none;
}

.sort-element:hover {
    background-color: rgba(255, 255, 255, 0.089);
}

img {
    object-fit: cover;
    min-width: 225px;
    max-width: 225px;
    height: 225px;
}

.wrapper {
    display: flex;
    margin-bottom: 15px;
    overflow: hidden;
}

.wrapper > div {
    padding: 20px;
    width: 100%;
}

.name {
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 1px rgb(19, 0, 41)
}

.name:hover {
    cursor: pointer;
    text-decoration:underline 3px;
}

.info-card {
    overflow: hidden;
}

.buy-card {
    
    max-width: 225px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.089);
}


.price-description {
    text-align: center;
}

.price {
    text-align: center;
    margin: 2px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgb(19, 0, 41)
}

.buy-card > button:hover {
    background-color: rgba(0, 0, 0, 0.651);
}

@media screen and (max-width: 768px) {

    .container {
        margin-top: 0;
        
        max-width: 960px;
    }

    .wrapper {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .buy-card {
        max-width: none;
    }

    img {
        padding: 5%;
        object-fit:fill;
        min-width:auto;
        max-width:none;
        height:auto;
    }

 

    .sort-button {
        display: block;
        line-height: 3rem;
        text-align: center;
        padding: 1rem;
        

    }

    .sort {
        position: relative;
    }

    .sort-element {
        border-right: none;
        display: block;
        line-height: 3rem;
        text-align: center;
        border-top: 1px solid grey;
        cursor: pointer;
    }

    .sort-content {
        display: none;
 
    }

    .sort-element {
    }

    .sort:hover .sort-content {
        display: block;
        position: absolute;
        background-color: #1a1a1ac9;
        backdrop-filter: blur(20px);
        width: 100%;
        z-index: 10;
        
    }

    
}

  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 24px;
    text-decoration: none;
    display: block;

  }
  

  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */

  .dropdown-item {
    float: left;
  }


