

<div class="container">



      <!-- carousel -->

      <app-carousel></app-carousel>


      <div class="sort">
      <!-- category select -->
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>Kategooria</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="onSelectCategory('all')">Kõik kategooriad</button>
          <button ngbDropdownItem *ngFor="let category of categories" (click)="onSelectCategory(category)">{{ category | titlecase }}</button>
        </div>
      </div>

      <!-- sort select -->    

      <app-sort-buttons [products]="products"></app-sort-buttons>

      <!-- pagination demo -->

      <!-- <p>Default pagination:</p>
      <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination">

      </ngb-pagination>

      <hr>

      <pre>Current page: {{page}}</pre> -->

      

      <!-- products ngFor -->

    <div *ngFor="let product of products">
      <app-product-card 
      *ngIf="product.isActive || isLoggedIn" 
      [product]="product"
      [loggedIn] = "isLoggedIn"
      ></app-product-card>
    </div>
</div>

