<div class="main-link-list">
    <div class="main-link" routerLink="work">
        <div class="container"><img class="gif" src="assets/briefcase.gif"></div>
        <div class="container"><p>Töö</p></div>
    </div>
    <div class="main-link" routerLink="hobbies">
        <div class="container"><img class="gif" src="assets/rocket.gif"></div>
        <div class="container"><p>Hobid</p></div>
    </div>
    <div class="main-link" routerLink="courses">
        <div class="container"><img class="gif" src="assets/presentation.gif"></div>
        <div class="container"><p>Kursused</p></div>
    </div>
</div>
<div class="rectangle"></div>
<p class="main-text">Tere tulemast minu lehele!</p>