<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #596886">
    <div class="container-fluid">
      <img class="navbar-brand" routerLink="/" src="assets/shop6.png" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" routerLink="/">Tooted</a>
            <a class="nav-link" routerLink="/admin">Admin</a>
            <a class="nav-link" routerLink="/ostukorv">Ostukorv</a>
        </div>
      </div>
    </div>
  </nav>