<br>
<div class="main-view">
    <div class="grid-container">
        <div *ngFor="let toode of tooted">
            <div  *ngIf="toode.aktiivne" class="grid-element">    
                        <div class="info-wrapper" *ngIf="toode.aktiivne" routerLink="/toode/{{toode.nimi.toLowerCase().replace(' ', '-')}}">
                            <div><img src="{{toode.pilt}}" alt=""></div>
                            <div class="toode-nimi">{{ toode.nimi }}</div>
                            <div class="toode-hind">{{ toode.hind }}€</div>
                        </div>
                        <div class="card-buttons">
                            <button mat-flat-button color="primary" (click)="onLisaOstukorvi(toode)">Lisa ostukorvi</button>

                                <span class="material-icons">
                                    star
                                    </span>

                        </div>
            </div>   
        </div>
    </div>
</div>