<!-- <ul>
    <li><a routerLink="/">Kodu</a></li>
    <li><a routerLink="/news">Uudised</a></li>
    <li><a routerLink="/contact">Kontakt</a></li>
    <li><a routerLink="/about">Meist</a></li>
</ul> -->
<div class="bar">
    <div routerLink="/" class="nupp"><a>Kodu</a></div>
    <div routerLink="/news" class="nupp"><a>Uudised</a></div>
    <div routerLink="/contact" class="nupp"><a>Kontakt</a></div>
    <div routerLink="/about" class="nupp"><a>Meist</a></div>
    <div routerLink="/products" class="nupp"><a>Tooted</a></div>
    <div routerLink="/cart" class="cart"><a>Ostukorv</a></div>
</div>