@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{font-family: 'Bebas Neue', cursive;}

:root {
    --trans-white: rgba(255, 255, 255, 0.795);
    --off-black: #333;
}

.bar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.705);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.37);
}

.nupp {
    float: left;

}

.nupp a {
    display: flex;
    gap:1rem;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor:pointer;
    flex-wrap: nowrap;
    font-size: 1.5em;
    
}

.nupp a:hover {
    background-color: #111;
}



.cart {
    float:right;
    display: flex;
    margin-left: auto;
    gap:1rem;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: royalblue;
    color: white;
    cursor:pointer;
    font-size: 1.5em;
}

.cart:hover {
    background-color: rgb(37, 139, 129);
    transform:scale(1.1);
}

