@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{font-family: 'Bebas Neue', cursive;}



.bar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nupp {
    float: left;

}

.nupp a {
    display: flex;
    gap:1rem;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor:pointer;
    border: red, 3px, solid;
    flex-wrap: nowrap;
    font-size: 1.5em;
    
}

.nupp a:hover {
    background-color: #111;
    transform:scale(1.1)
}



.cart {
    float:right;
    display: flex;
    margin-left: auto;
    gap:1rem;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: royalblue;
    color: white;
    cursor:pointer;
    font-size: 1.5em;
}

.cart:hover {
    background-color: rgb(37, 139, 129);
    transform:scale(1.1);
}

