.product-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.377);
    flex-wrap: nowrap;
    padding: 10px;

}

.one {
    display: flex;
    justify-content: space-between;
    width: 50%;
    flex-wrap: nowrap;
}

.two {
    display: flex;
    gap: 5px;
    justify-content: end;
    align-items: center;
    width: 50%;
}



.name {
    text-align:left;
    overflow: hidden;
}

.price {

}

.quantity {

    text-align: center;

    width: 10%;

}

.product-total {
    text-align: right;
    margin-right: 1rem;
    width: 50%;
}

.two > button {
    min-width:38px;
    min-height: 38px;
    border-radius: 50%;
    text-align: center;
}

.cart-total {
    background-color: rgba(255, 255, 255, 0.041);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 18px;
    padding: 8px;
    text-align: right;
}

img {
    width: 30px;
    height: 30px;
    padding: 2px;
    cursor: pointer;
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(85%) contrast(100%);
    transition: 250ms;
}

img:hover {
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: 250ms;
}

.bi:hover {
    fill: rgba(128, 128, 128, 0.459);
    transition: 250ms;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .product-wrapper {
        flex-wrap: wrap;
    }

    .one, .two {
        width: 100%;
        justify-content: space-between;
    }

}


/* ASD */

/* .cart-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 10px 0;
    margin: 0 10%;
    align-items: center;

}

.cart-item-name {
    width: 300px;
}

.cart-item-price {
    width: 70px;
}

.cart-item-quantity {
    width: 50px;
}

.cart-item-total {
    width: 70px;
    font-weight: 600;
}

img {
    width: 40px;
    height: 40px;
    padding: 2px;
    cursor: pointer;
    fill: white;
} */

