/* You can add global styles to this file, and also import other style files */

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

body {
    background: rgb(0,0,68);
    background: linear-gradient(90deg, rgb(37, 32, 43) 0%, rgb(19, 26, 27) 100%);
    /* backdrop-filter: grayscale(90%) brightness(400%); */
    height: 100%;
    min-height: 100vh;

}

.container {
    color: rgb(228, 249, 255);
    margin-top: 20px;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.089);
    background-color: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(20px);

}


