/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    * {font-family: 'Roboto', sans-serif;}


    body {

        background: rgb(255,113,206);
        background: linear-gradient(45deg, rgba(255,113,206,1) 0%, rgba(1,205,254,1) 25%, rgba(5,255,161,1) 50%, rgba(185,103,255,1) 75%, rgba(255,251,150,1) 100%); 
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
