<div 

class="container">
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
  <div class="wrapper list">
    <h2>Poed</h2>
    <div class="stores">
      <div (click)="zoomStore(centerX, centerY, zoom, 'Kõik')">Reset</div>
      <div 
      (click)="zoomStore(59.440977, 24.732144, 14, 'Telliskivi')">Telliskivi kauplus</div>
      <div (click)="zoomStore(59.426217572751405, 24.725512852017854, 14, 'Kristiine')">Kristiine kauplus</div>
    </div>
  </div>
</div>
  