<div class="container">
    <mat-card class="example-card"> 
        <h1 align="center">POST SOMETHING</h1>
        <form (ngSubmit)="onSubmit(postForm)" #postForm="ngForm" autocomplete="off">
            <mat-form-field appearance="outline">
                <mat-label>Post to your hearts extent</mat-label>
                <textarea 
                autofocus
                appAutosize
                matInput
                ngModel 
                name="text" 
                type="text" 
                ></textarea>
            </mat-form-field>
            <div class="button-container">
                <button type="submit" mat-button>POST IT</button>
            </div>
        </form>
    </mat-card>
</div>




<!-- for later -->

    <!-- <mat-form-field appearance="outline">
        <mat-label>Nickname</mat-label>
        <input 
        required=""
        matInput
        ngModel 
        name="username" 
        type="text" 
        >
    </mat-form-field>
    
    <mat-form-field appearance="outline" id="pic">
        <mat-label>Picture URL</mat-label>
        <input 
        matInput
        ngModel 
        name="pic" 
        type="url" 
        >
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Post title</mat-label>
        <input 
        matInput
        ngModel 
        name="title" 
        type="text" 
        >
    </mat-form-field> -->