<br>
<div class="tooterida">
    <div (click)="onToodeKorvi(toode)" class="toode" *ngFor="let toode of tooted">
        <div class="text-noselect">
            {{toode.nimi}}
            {{toode.hind}}€
        </div>
    </div>
    <div *ngIf="ostukorv.length !== 1" (click)="onTyhjendaOstukorv()" class="tyhjenda-ostukorv">Tühjenda ostukorv</div>
    <br><br>
</div>       


<br>
<div *ngIf="ostukorv.length === 1" class="special2">Ostukorv on tühi :(

</div>
<div *ngIf="ostukorv.length !== 1">
    <div class="page">
        <div class="main">
            <div class="main-bar">
                <div class="main-bar-element1">Toode</div>
                <div class="main-bar-element2">Kogus <div class="special1" *ngIf="toodetekogus !== 1"> ({{ toodetekogus }})</div></div>
                <div class="main-bar-element3">Hind</div>
            </div>
            <div>
                <div class="cart">
                    <div *ngFor="let toode of ostukorv">
                        <div *ngIf="toode.aktiivne">
                            <div class="cart-element">
                                <div class="cart-element-product">{{ toode.nimi }} ({{toode.hind}}€)</div>
                                <div class="cart-element-quantity">
                                    <button (click)="onEemaldaToodeKorvist(toode)">-</button>
                                    <div class="special1"> {{ toode.kogus }}</div>
                                    <button (click)="onToodeKorvi(toode)">+</button>
                                </div>
                                <div class="cart-element-price">{{ toode.hind*toode.kogus }}€</div>
                                <div class="hidden">{{ toode.aktiivne }}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            

                


        </div>

        <div class="end-bar">
            <div class="price-calc">Ostukorvi maksumus:</div>
            <div class="price-calc-result">{{ ostukorviSumma }}€</div>
        </div>

    </div>
</div>
